EXPO_PUBLIC_REVENUECAT_IOS_API_KEY=
EXPO_PUBLIC_REVENUECAT_ANDROID_API_KEY=
EXPO_PUBLIC_REVENUECAT_ENTITLEMENT_ID=BarkodAnaliz Pro
EXPO_PUBLIC_REVENUECAT_OFFERING_ID=premium_annual_39_99_try
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=
EXPO_PUBLIC_AUTH_EMAIL_CONTINUE_URL=
# Market Gelsin API
# Yerel gelistirme icin ornek: http://127.0.0.1:8040
# Fiziksel cihaz testinde kendi LAN/HTTPS endpoint'inizi verin.
EXPO_PUBLIC_MARKET_GELSIN_API_URL=
EXPO_PUBLIC_MARKET_GELSIN_ENABLED=true
EXPO_PUBLIC_MARKET_GELSIN_TIMEOUT_MS=8000
EXPO_PUBLIC_ADMOB_APP_ID_ANDROID=
EXPO_PUBLIC_ADMOB_APP_ID_IOS=
EXPO_PUBLIC_ADMOB_INTERSTITIAL_ANDROID=
EXPO_PUBLIC_ADMOB_INTERSTITIAL_IOS=
EXPO_PUBLIC_ADMOB_BANNER_ANDROID=
EXPO_PUBLIC_ADMOB_BANNER_IOS=
EXPO_PUBLIC_ADMOB_REWARDED_ANDROID=
EXPO_PUBLIC_ADMOB_REWARDED_IOS=
EXPO_PUBLIC_ADMOB_APP_OPEN_ANDROID=
EXPO_PUBLIC_ADMOB_APP_OPEN_IOS=
EXPO_PUBLIC_ADS_ENABLED=
EXPO_PUBLIC_ADS_USE_TEST_IDS=
EXPO_PUBLIC_MONETIZATION_ANNUAL_PLAN_ENABLED=
EXPO_PUBLIC_MONETIZATION_PURCHASE_PROVIDER_ENABLED=
EXPO_PUBLIC_MONETIZATION_RESTORE_ENABLED=
EXPO_PUBLIC_MONETIZATION_PAYWALL_ENABLED=
EXPO_PUBLIC_MONETIZATION_ANNUAL_PRODUCT_ID=premium_annual_39_99_try:annual
EXPO_PUBLIC_MONETIZATION_ANNUAL_PRICE_TRY=
EXPO_PUBLIC_FIRESTORE_SHARED_CACHE_READS_ENABLED=
EXPO_PUBLIC_FIRESTORE_SHARED_CACHE_WRITES_ENABLED=
EXPO_PUBLIC_FIRESTORE_SCAN_HISTORY_WRITES_ENABLED=
EXPO_PUBLIC_FIRESTORE_MISSING_PRODUCT_WRITES_ENABLED=
