rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }

    function isImageUploadForUser(userId, source) {
      return request.resource != null
        && request.auth.uid == userId
        && request.resource.size < 10 * 1024 * 1024
        && request.resource.contentType.matches('image/.*')
        && request.resource.metadata.userId == request.auth.uid
        && request.resource.metadata.source == source;
    }

    match /users/{userId}/{fileName=**} {
      allow read: if isSignedIn() && request.auth.uid == userId;
      allow write: if isSignedIn()
        && (
          request.resource == null
          ? request.auth.uid == userId
          : isImageUploadForUser(userId, 'user-profile')
        );
    }

    match /missing-products/{userId}/{fileName=**} {
      allow read: if isSignedIn();
      allow write: if isSignedIn()
        && (
          request.resource == null
          ? request.auth.uid == userId
          : isImageUploadForUser(userId, 'missing-product')
        );
    }

    match /products/{userId}/{fileName=**} {
      allow read: if isSignedIn();
      allow write: if isSignedIn()
        && (
          request.resource == null
          ? request.auth.uid == userId
          : isImageUploadForUser(userId, 'product')
        );
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
